body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2563EB, #259ceb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.cadastro_container {
    display: none;
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.chat-container{
    display: none;
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

.botao_login {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background: #2563EB;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.botao_login:hover {
    background: #363af0;
}
.botao_cadastrar{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background: #2563EB;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.botao_cadastrar:hover{
    background: #363af0;
}
#mensagem {
    margin-top: 10px;
    font-size: 14px;
}
.ir_para_cadastrar{
    background: transparent;
    border: transparent;
    cursor:pointer ;
    color:#0011ff;
    font-size: 17px;
}
